<div [formGroup]="form" [isliFormValidMsg]="validErrorMsg">
  <h3>整个form表单只有一个验证显示，此时一定要配置controlName</h3>
  <dl>
    <dt>用户名</dt>
    <dd>
      <input type="text" formControlName="username">
    </dd>
    <dt>密码</dt>
    <dd>
      <input type="password" formControlName="password">
    </dd>
  </dl>
  <dl formGroupName="user">
    <dt>昵称</dt>
    <dd>
      <input type="text" formControlName="nickname">
    </dd>
    <dt>性别</dt>
    <dd>
      <span>
          <label>男</label>
          <input type="radio" name="sex" formControlName="sex" value="1">
      </span>
      <span>
        <label>女</label>
        <input type="radio" name="sex" formControlName="sex" value="2">
      </span>
    </dd>
  </dl>
  <dl formGroupName="group1">
    <h3>只使用一个pr-form-control-valid显示所有control的错误消息</h3>
    <dt>contorl1</dt>
    <dd>
      <input type="text" formControlName="control1">
    </dd>
    <dt>contorl2</dt>
    <dd>
      <input type="text" formControlName="control2">
    </dd>
  </dl>
  <mpr-form-control-valid controlName="form"></mpr-form-control-valid>
  <dl>
    <dd>
      <input type="button" value="确定" (click)="handleSubmit()">
    </dd>
  </dl>
</div>