<div [formGroup]="form" [isliFormValidMsg]="validErrorMsg">
  <h3>Reactive Form 常规验证</h3>
  <dl>
    <dt>用户名</dt>
    <dd>
      <input type="text" formControlName="username" mprEmailValid>
      <mpr-form-control-valid></mpr-form-control-valid>
    </dd>
    <dt>密码</dt>
    <dd>
      <input type="password" formControlName="password">
      <mpr-form-control-valid></mpr-form-control-valid>
    </dd>
  </dl>
  <dl formGroupName="user">
    <dt>昵称</dt>
    <dd>
      <input type="text" formControlName="nickname">
      <mpr-form-control-valid></mpr-form-control-valid>
    </dd>
    <dt>性别</dt>
    <dd>
      <span>
          <label>男</label>
          <input type="radio" name="sex" formControlName="sex">
      </span>
      <span>
        <label>女</label>
        <input type="radio" name="sex" formControlName="sex">
      </span>
      <!--如果验证消息组件和对应的formControlName不在同一个父节点下， 必须指定controlName-->
      <mpr-form-control-valid controlName="sex"></mpr-form-control-valid>
    </dd>
  </dl>
  <dl formGroupName="group1">
    <h3>只使用一个pr-form-control-valid显示所有control的错误消息</h3>
    <dt>contorl1</dt>
    <dd>
      <input type="text" formControlName="control1">
    </dd>
    <dt>contorl2</dt>
    <dd>
      <input type="text" formControlName="control2">
    </dd>
    <mpr-form-control-valid></mpr-form-control-valid>
  </dl>
  <dl>
    <dd>
      <input type="button" value="确定" (click)="handleSubmit()">
      <input type="reset" value="重置" (click)="handleReset()">
    </dd>
  </dl>
</div>
